<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-6 d-flex justify-content-center">
      <img
        class="logo"
        src="../../assets/img/logo-branco-Ada-Cortado.jpg"
        alt="Logo ADA"
      />
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <a routerLink="/entrar" class="mr-5">Entrar</a>
      <a routerLink="/cadastrar">Cadastrar</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
      <img
        src="../../assets/img/gif-Ada.gif"
        alt="Gif Ada Lovelace"
        width="70%"
      />
    </div>
    <div
      class="col-md-6 d-flex justify-content-center align-items-center flex-column"
    >
      <h1 class="text-center">
        Seja bem-vinda!<span> Faça parte dessa</span
        ><span> comunidade que não para</span> de crescer.
      </h1>
      <button class="mt-5 btn btn-lg" routerLink="/entrar">ENTRE AGORA</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 d-flex justify-content-center flex-column text-center">
      <h2 class="mb-5 titulo-roxo">Quem somos?</h2>
      <p class="quemSomos-font">
        Somos uma rede para comunidade de mulheres cis e trans no mercado da
        tecnologia.
      </p>
      <p class="quemSomos-font">
        A representividade e união de forças cria uma teia para inspirar e
        transmitir informações.
      </p>
    </div>
    <div class="col-md-6 d-flex justify-content-right">
      <img
        src="../../assets/img/img-mulherComputador.png"
        alt="Ilustração mulher programando"
        width="100%"
      />
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 mt-5 mb-3">
      <h2 class="text-center titulo-roxo">
        Por que formar esta rede
        <span class="mt-3 titulo-cinza">É importante?</span>
      </h2>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <img
        src="../../assets/img/img-porqueImportante45.png"
        alt="Descr"
        width="80%"
      />
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-12 text-center mt-5 mb-4">
      <h2 class="titulo-roxo">Parceiros e apoiadores</h2>
    </div>
    <div class="col-md-4 d-flex align-items-center flex-column">
      <div class="card mb-5" style="width: 18rem">
        <img
          class="card-img-top mb-2"
          src="../../assets/img/img-programaria.png"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <p class="card-text">
            Um exemplo de texto rápido para construir o título do card e fazer
            preencher o conteúdo do card.
          </p>
        </div>
      </div>
      <div class="card mb-5" style="width: 18rem">
        <img
          class="card-img-top mb-2"
          src="../../assets/img/img-womakerscode.png"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <p class="card-text">
            Um exemplo de texto rápido para construir o título do card e fazer
            preencher o conteúdo do card.
          </p>
        </div>
      </div>
      <div class="card mb-5" style="width: 18rem">
        <img
          class="card-img-top mb-2"
          src="../../assets/img/img-pyladies.png"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <p class="card-text">
            Um exemplo de texto rápido para construir o título do card e fazer
            preencher o conteúdo do card.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-center flex-column">
      <div class="card mb-5" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../assets/img/img-reprograma.png"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <p class="card-text">
            Um exemplo de texto rápido para construir o título do card e fazer
            preencher o conteúdo do card.
          </p>
        </div>
      </div>
      <div class="card mb-5" style="width: 18rem">
        <img
          class="card-img-top mb-3"
          src="../../assets/img/img-php.png"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <p class="card-text">
            Um exemplo de texto rápido para construir o título do card e fazer
            preencher o conteúdo do card.
          </p>
        </div>
      </div>
      <div class="card mb-5" style="width: 18rem">
        <img
          class="card-img-top mb-2"
          src="../../assets/img/img-elas_programam.png"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <p class="card-text">
            Um exemplo de texto rápido para construir o título do card e fazer
            preencher o conteúdo do card.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="desenvolvedores" class="row mt-5">
    <div class="col-md-12 mb-4">
      <h2 class="titulo-roxo text-center">Desenvolvedores</h2>
    </div>
    <div class="col-md-12 d-flex justify-content-center mb-5">
      <div class="card mr-5">
        <img
          class="card-img-top"
          src="../../assets/img/img-Rafaela.PNG"
          alt="Imagem de capa do card"
        />
        <div class="card-img-overlay texto">
          <h5 class="card-title">Cobalt Blue Spider</h5>
          <p class="card-text">
            The Cobalt blue spider is a tarantula named after the blue color
            that can be seen on the adult spiders, when looking at them in a
            certain light, at first glance they can look more dark brown or
            black. Before Cobalt blue spiders mature they tend to have a more
            greyish blue color.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/img/img-Jackeline.jpeg"
          alt="Imagem de capa do card"
        />
        <div class="card-img-overlay texto">
          <h5 class="card-title">Cobalt Blue Spider</h5>
          <p class="card-text">
            The Cobalt blue spider is a tarantula named after the blue color
            that can be seen on the adult spiders, when looking at them in a
            certain light, at first glance they can look more dark brown or
            black. Before Cobalt blue spiders mature they tend to have a more
            greyish blue color.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <div class="card mr-5">
        <img
          class="card-img-top"
          src="../../assets/img/img-Danilo.jfif"
          alt="Imagem de capa do card"
        />
        <div class="card-img-overlay texto">
          <h5 class="card-title">Cobalt Blue Spider</h5>
          <p class="card-text">
            The Cobalt blue spider is a tarantula named after the blue color
            that can be seen on the adult spiders, when looking at them in a
            certain light, at first glance they can look more dark brown or
            black. Before Cobalt blue spiders mature they tend to have a more
            greyish blue color.
          </p>
        </div>
      </div>
      <div class="card mr-5">
        <img
          class="card-img-top"
          src="../../assets/img/img-Vinicius.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-img-overlay texto">
          <h5 class="card-title">Cobalt Blue Spider</h5>
          <p class="card-text">
            The Cobalt blue spider is a tarantula named after the blue color
            that can be seen on the adult spiders, when looking at them in a
            certain light, at first glance they can look more dark brown or
            black. Before Cobalt blue spiders mature they tend to have a more
            greyish blue color.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/img/img-Beymar.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-img-overlay texto">
          <h5 class="card-title">Cobalt Blue Spider</h5>
          <p class="card-text">
            The Cobalt blue spider is a tarantula named after the blue color
            that can be seen on the adult spiders, when looking at them in a
            certain light, at first glance they can look more dark brown or
            black. Before Cobalt blue spiders mature they tend to have a more
            greyish blue color.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 d-flex align-items-center flex-column">
      <img
        class="logo"
        src="../../assets/img/logo-branco-Ada-Cortado.jpg"
        alt="Logo ADA"
      />
      <p class="font-roboto">
        Email:
        <a href="mailto:ada2021@generationbrasil.com"
          >ada2021@generationbrasil.com</a
        >
      </p>
      <p class="font-roboto">Telefone: 4002-8922</p>
      <p class="font-roboto">Celular: 11 94002-8922</p>
      <div>
        <a href="#" class="mr-3"
          ><img
            class="logo-facebook"
            src="../../assets/img/logo-facebook2.svg"
            alt="Logo do facebook"
        /></a>
        <a href="#" class="mr-3"
          ><img
            class="logo-instagram"
            src="../../assets/img/logo-instagram.svg"
            alt="Logo do instagram"
        /></a>
        <a href="#"
          ><img
            class="logo-linkedin"
            src="../../assets/img/logo-linkedin.svg"
            alt="Logo do linkedin"
        /></a>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Fale conosco</h3>
      <div class="form-group font-roboto">
        <label for="email">E-mail</label>
        <input
          class="form-control"
          type="email"
          id="email"
          name="email"
          placeholder="exemplo@exemplo.com"
        />
      </div>
      <div class="form-group">
        <label for="descricao">Descrição</label>
        <textarea
          class="form-control font-roboto"
          name="descricao"
          id="descricao"
          placeholder="Digite aqui o seu comentário..."
          rows="4"
        ></textarea>
      </div>
      <button class="mt-2 btn btn-enviar">Enviar</button>
    </div>
  </div>
  <div class="row text-center mt-5">
      <div class="col-md-12">
        <a href="#" class="mr-5">Política de privacidade do rede social ADA</a>
        <a href="#" class="mr-5">Sobre</a>
        <a href="#" class="mr-5">Política de direitos autorais</a>
        <a href="#">Direitos de marca</a>
      </div>
  </div>
  <div class="row mt-3">
      <div class="col-md-12">
        <p class=" text-white bg-roxo footer text-center p-4">ADA 2021 &copy;</p>
      </div>
  </div>
</div>
