<nav class="navbar navbar-expand-lg navbar-light back d-flex justify-content-between">
    <a class="navbar-brand" href="#">
        <img src="../../assets/img/logo-cortado-roxo.png" style="height: 35pt;" alt="logo-ada-roxo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <li class="nav-item dropdown mr-1">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">

            <img src="../../assets/img/img-dropdown.png" style="height: 20px;" alt="dropdown-opções">
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink='/principal'>Página principal</a>
            <a class="dropdown-item" href="#">Sair</a>
        </div>
    </li>
</nav>


<div class="container mt-5 mb-5">

    <div class="row">
        <div class="col-md-12">

            <div class="card perfil-fundo sh">
                <!-- Parque que centraliza a foto -->
                <div class="card-body text-center">
                    <h1 class="text-white mont">Atualizar postagem</h1>
                </div>

            </div>
            <!-- Parte de baixo do card com tamanho para caber com a parte de cima-->
            <div class="card perfil-texto sh">
                <!-- Parter que centraliza os textos do card -->
                <div class="card-body text-center">

                    <div class="card-back card justify-content-center mt-5">

                        <div class="row d-flex">

                            <img src="{{foto}}" alt="" width="90px" height="90px" class="rounded-circle bs ml-4 mt-3">

                            <div class="d-flex flex-column ml-1 my-auto">

                                <h5 class="mb-0">{{nomeCompleto}}</h5>
                                <p class="mt-0"> {{cargo}} </p>

                            </div>

                            <div class="ml-auto mt-3 mr-5">

                                <button class="btn" id="botaoCancelar" data-toggle="modal" data-target="#editTemas">Editar
                                    Tema</button>

                            </div>

                        </div>

                        <hr class=" d-flex justify-content-center mt-3">

                        <div class="card-body mt-0 pt-0">

                            <h5 class="text-left ml-3">Front-End</h5>

                            <textarea name="postagem" id="postagem" cols="140" rows="10">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, ipsa. Mollitia recusandae in culpa, eveniet cum iste aliquid natus minus harum id earum pariatur reprehenderit modi eos! Nobis, dolorum eligendi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, ea odit aliquam libero fuga numquam voluptatibus soluta minus earum, voluptas sequi placeat cumque quis vel culpa eligendi! Nobis, error dicta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate maiores minus possimus qui. Dolor in harum non placeat possimus enim. Officiis doloremque, nobis delectus consequuntur vitae aspernatur? Repellendus, voluptatibus eligendi.
                            </textarea>
                        </div>

                        <div class="d-flex justify-content-end mb-2 mr-5">
                            <button id="botaoCancelar" type="submit" class="btn" routerLink="/perfil">
                                Cancelar
                            </button>
                            <button type="submit" class="btn ml-3 botaoPostar" (click)="atualizar()">
                                Atualizar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-0 bottom">
    <div class="row text-center mt-5">
        <div class="col-md-12">
            <a href="#" class="mr-5 font-foot">Política de privacidade do rede social ADA</a>
            <a href="#" class="mr-5 font-foot">Sobre</a>
            <a href="#" class="mr-5 font-foot">Política de direitos autorais</a>
            <a href="#" class="font-foot">Direitos de marca</a>
        </div>
    </div>

    <footer class="footer">
        <div class="row d-flex justify-content-center ">
            <p class="text-center text-white pt-3">ADA 2021 ©</p>
        </div>
    </footer>
</div>


<!-- Modal -->
<div class="modal fade " id="editTemas" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content modalTema">
            <div class="modal-header">
                <h5 class="modal-title Montserrat" id="TituloModalLongoExemplo">Editar Tema</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control" id="descricao">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn" id="botaoCancelar" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn botaoPostar">Atualizar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->