<nav class="navbar navbar-expand-lg navbar-light back">
    <a class="navbar-brand" href="#">
        <img src="../../assets/img/logo-cortado-roxo.png" style="height: 35pt;" alt="logo-ada-roxo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
        <div id="divBusca" style="width: 440px;">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" id="txtBusca" style="width: 300pt; height: 35px;" type="text"
                    placeholder="  pesquisar..." aria-label="Search">
                <a href="">
                    <img src="../../assets/img/img-search.png" id="btnBusca" style="height: 20px;" alt="">
                </a>
            </form>
        </div>
    </div>

    <li class="nav-item dropdown mr-1">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">

            <img src="../../assets/img/img-dropdown.png" style="height: 20px;" alt="dropdown-opções">
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Editar Perfil</a>
            <a class="dropdown-item" href="#">Sair</a>
        </div>
    </li>
</nav>

<div class="container-fluid mt-5">

    <div class="row">
        <!-- COLUNA MENU & POSTAGENS -->
        <div class="col-md-9 ">
    
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio itaque atque eius veniam necessitatibus facilis id rem quis ab voluptatibus sequi natus amet omnis, iste quam vel repudiandae aliquam nulla. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore alias illum nesciunt amet quibusdam accusamus expedita earum, explicabo quidem sint aliquam iste optio, voluptas porro modi commodi est beatae id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem non placeat numquam consequuntur omnis tempore fugiat, enim temporibus alias quaerat. Odit possimus dolor laudantium deserunt quis quos nam saepe illo!
    
        </div>
        <!-- COLUNA CONEXÕES-->
        <div class="col-md-3">
    
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut quia ex, excepturi veritatis, repudiandae delectus, eum consequuntur voluptate vitae quo porro consequatur similique laborum quod commodi exercitationem itaque possimus molestias!
    
        </div>
    
    
    </div>

</div>