<div class="container-fluid">
    <!--Inicio-->
        <div class="row">
            
            <div class="col-md-6 mt-5 mb-5">
                
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">
                        <div class="d-flex justify-content-center mb-4"> 
            
                            <img  
                            style="width: 35%"
                            class="d-flex justify-content-center" src="../../assets/img/logo-branco-Ada-Cortado.jpg" alt="Logo Ada" />
                            <!--Logotipo Ada Branco-->
                
                            </div>
    
                        <div class="form-group">
                            <label for="nome">
                                Nome
                            </label>
                            <input class="form-control" type="text" name="nome" id="nome" placeholder="Digite o seu nome">
                        </div>
    
                        <div class="form-group">
                            <label for="usuario">
                                Usuário
                            </label>
                            <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite seu usuário">
                        </div>

                        <div class="form-group">
                            <label for="senha">
                                Senha
                            </label>
                            <input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha">
                        </div>
    
                        <div class="form-group">
                            <label for="confirmaSenha">
                                Confirme sua senha
                            </label>
                            <input class="form-control" type="password" name="confirmaSenha" id="confirmaSenha" placeholder="Confirme sua senha">
                        </div>

                        <div class="form-group">
                            <label for="cargo">
                                Cargo
                            </label>
                            <input class="form-control" type="text" name="cargo" id="cargo" placeholder="Digite o seu cargo">
                        </div>
    
                        <div class="form-group">
                            <label for="foto">
                                Link da sua Foto
                            </label>
                            <input class="form-control" type="url" name="foto" id="foto" placeholder="Link de sua foto de perfil">
                        </div>

                        <div class="form-group">
                            <label for="foto">
                                Link Github
                            </label>
                            <input class="form-control" type="url" name="link" id="link" placeholder="Link de seu GitHub">
                        </div>
    
                        <div class="form-group">
                            <label for="tipo">
                                Tipo de Usuário
                            </label>
                           <select class="form-control" name="tipo" id="tipo">
                                <option>Selecione um tipo de usuário</option>
                                <option value="normal">Normal</option>
                                <option value="adm">Adminstrador</option>
                           </select>
                        </div>
    
                        <div class="d-flex justify-content-center">
                            <button id="botaoCancelar" type="submit" class="btn" routerLink='/entrar'>Cancelar</button>
                            <button id="botaoCadastrar" type="submit" class="btn ml-5">Cadastrar</button>
                        </div>
    
                    </div>
                </div>
    
            </div>
    
            <div class="col-md-6" id="img-bg">   </div>

        </div>
    
    </div>