<nav class="navbar navbar-expand-lg navbar-light back">
    <a class="navbar-brand" href="#">
        <img src="../../assets/img/logo-cortado-roxo.png" style="height: 30pt;" alt="logo-ada-roxo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" style="width: 300pt;" type="text" placeholder="pesquisar..."
                aria-label="Search">
            <a href="">
                <img src="../../assets/img/img-search.png" id="busca" style="height: 20px;" alt="">
            </a>
        </form>
    </div>

    <li class="nav-item dropdown mr-1">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">

            <img src="../../assets/img/img-dropdown.png" style="height: 20px;" alt="dropdown-opções">
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Editar Perfil</a>
            <a class="dropdown-item" href="#">Sair</a>
        </div>
    </li>
</nav>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-3">
            <h4 class="text-center">Notícias</h4>

            <div class="card mt-4" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>

            <div class="card mt-4" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>

            <div class="card mt-4" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>

            <p style="margin: 0%;">Política de privacidade da rede social ADA</p>
            <p style="margin: 0%;">Sobre</p>
            <p style="margin: 0%;">Política de direitos autorais </p>
            <p style="margin: 0%;">Direitos de marca </p>
            <p style="margin: 0%;">ADA 2021 © </p>
        </div>

        <div class="col-md-6 bg-danger">
            <div class="card" style="width: 40rem; height: 303px;">
                <h5 class="pl-4 pt-1 mb-0">Criar Publicação</h5>
                <hr class="m-2">
                <div class="card-body">
                    <!--
                        <input class="form-control mr-sm-2" style="width: 450pt; height: 150px;" type="text"
                        placeholder="No que você está pensando?" aria-label="Search">
                    -->
                    <textarea class="form-control mr-sm-2" name="text" id="text" cols="30" rows="7"
                        placeholder="No que você está pensando?"></textarea>


                    <div class="row d-flex justify-content-end mt-2">
                        <button class="btn botaoTema mr-4">Escolher Tema</button>
                        <button class="btn botaoPostar mr-4">Postar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 bg-success">

        </div>
    </div>
</div>