.back{
    background-color: #89458F;
}

#divBusca{
    background-color: white;
    border:none;
    border-radius:10px;
    width:300px;
  }

#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }

#btnBusca{
    display: flex;
    align-items: flex-end;
}

li{
    list-style: none;
}

input{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.txt{
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    font-weight: 600;
}

textarea{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    resize: none;
}

.Montserrat{
    font-family: 'Montserrat', sans-serif;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.botaoTema{
    background-color: #FFB81C;
    font-weight: 700;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.botaoPostar{
    background-color: #89458F;
    color: white;
    font-weight: 500;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
       
}

.botaoApagar{
    background-color: rgb(250, 56, 56);
    color: white;
    font-weight: 500;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.card-back{
    background-color: #F0F0F0;
    border-radius: 20px;
    box-shadow: #acacac 4px 4px 8px;
}

.txtarea{
    border-radius: 15px;
}

.modalTema{
    border-radius: 15px;
}

.footer{
    background-color: #89458F;
    height: 55px;
}